/* Color Hex Codes */
/* Blue:  #CAEBF2 */
/* Grey: #A9A9A9 */
/* Red: #FF3B3F */
/* Light Grey: #EFEFEF */

html{
	font-family: Monospace;
}

#page_wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.header{
	text-align: center;
	font-weight: 900;
	font-size: 27px;
	padding-top: 10px;
	padding-bottom: 25px;
}

.header::selection{
	background-color: white;
}

.dotcom{
	font-family: Arial;
	font-size: 21px;
	color: #A9A9A9;
}

.dotcom::selection{
	background-color: white;
}

.nav{
	margin-left: 20%;
	width: 60%;
	margin-right: 20%;
	border-top: 1px solid #909192;
	border-bottom: 1px solid #909192;
}

.nav ul{
	padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav li a{
	text-decoration: none;
	color: black;
	font-size: 17px;
	color: #58595A;
	padding-left: 5px;
	padding-right: 5px;
}

.nav > ul > li > a:hover{
	color: #111;
	font-weight: bold;
}

.main{
	margin-left: 20%;
	width: 60%;
	margin-right: 20%;
}

.leftColumn{
	float: left;
	width: 35%;
}

.avi{
	height: 250px;
	border-radius: 50%;
	padding: 15px 15px 15px 15px;
}

.rightColumn{
	float: right;
	width: 60%;
}

.main h1{
	
}

.main p{
	font-size: 15px;
}

.main li{
	font-size: 15px;
}
.footer{
	position: fixed;
	bottom: 0;
	margin-left: 20%;
	width: 60%;
	margin-right: 20%;
	border-top: 1px solid #909192;
}

.footer ul{
	padding: 0;
    display: flex;
    list-style-type: none;
	justify-content: center;
}

.footer li a{
	text-decoration: none;
	color: black;
	font-size: 11px;
	color: #58595A;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.altfooter{
	margin-left: 20%;
	width: 60%;
	margin-right: 20%;
	border-top: 1px solid #909192;
}

.altfooter ul{
	padding: 0;
    display: flex;
    list-style-type: none;
	justify-content: center;
}

.altfooter li a{
	text-decoration: none;
	color: black;
	font-size: 11px;
	color: #58595A;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}





@media screen and (max-width: 750px){
	.header{
		margin-left: 3%;
		width: 94%;
		text-align: center;
		font-weight: 900;
		size: 50px;
	}
	.main{
		margin-left: 3%;
		width: 94%;
	}
	.avi{
		height: 215px;
		border-radius: 50%;
		padding: 15px 5px 5px 5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.leftColumn{
		margin-left: 3%;
		width: 94%;
	}
	.rightColumn{
		margin-left: 3%;
		width: 94%;
	}
}