/* Color Hex Codes */
/* Blue:  #CAEBF2 */
/* Grey: #A9A9A9 */
/* Red: #FF3B3F */
/* Light Grey: #EFEFEF */

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

a:hover{
	color: #CAEBF2;
}

nav{
	position: fixed;
	top: 30px;
	left: 215px;
	width: 230px;
	height: 425px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#headshot{
	height: 140px;
	width: 140px;
	border-radius: 50%;
}

.nav_h1{
	padding: 0px 8px 0px 8px;
	font-size: 27px;
}

.nav_a{
	padding: 6px 8px 6px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #FF3B3F;
	display: block;
}

main{
	position: absolute;
	margin-left: 450px;
	margin-right: 450px;
	top: 25px;
	color: #A9A9A9;
	font-size: 20px;
	
}

.main_h1{
	color: #FF3B3F;
	font-size: 35px;
}

.main_bold{
	color: #999999;
	font-weight: bold;
}
.main_a{
	text-decoration: none;
	color: #FF3B3F;
}

h3{
	font-size: 12px;
	padding-bottom: 0px;
}

footer{
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	text-align: center;
	height: 65px;
	vertical-align: middle;
}

.footer_a{
	color: #000000;
	text-decoration: none;
	padding: 0px 12px 0px 0px;
	vertical-align: middle;
}

.footer_img{
	height: 15px;
	width: 15px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}